/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

   
   

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

html {
	height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font: 12px/18px Arial, sans-serif;
	width: 100%;
	height: 100%;
	background-color: #FFFFFF;


}
.wrapper {
	width: 1000px;
	margin: 0 auto;
	min-height: 100%;
	
	height: 50%;
}


/* Header
-----------------------------------------------------------------------------*/
.header {
	height: 96px;
	
	
	}
.topheader {
width: 1920px;
height: 40px;
left: 0px;
top: 0px;
background: #FFFFFF;
opacity: 0.5;
}
.downheader {
width: 1920px;
height: 56px;
left: 0px;
top: 40px;
background: #F4F4F4;
}
.headerTop__linkName {
position: absolute;
width: 166px;
height: 18px;
left: 359px;
top: 12px;

font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;

/* dark grey */

color: #6F6F6F;
}
.vector {
position: absolute;
left: 27.86%;
right: 71.72%;
top: 0.29%;
bottom: 99.66%;

/* dark grey */

border: 1px solid #6F6F6F;
transform: rotate(-90deg);
}
.close {
position: absolute;
width: 51px;
height: 18px;
left: 1492px;
top: 12px;

font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;

/* dark grey */

color: #6F6F6F;
}
.about {
position: absolute;
width: 35px;
height: 18px;
left: 359px;
top: 59px;

font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;
color: #6F6F6F;
}
.reviews {
position: absolute;
width: 47px;
height: 18px;
left: 435px;
top: 59px;

font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;
text-transform: capitalize;
color: #6F6F6F;
}
.faq{
position: absolute;
width: 25px;
height: 18px;
left: 523px;
top: 59px;

font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;
color: #6F6F6F;}
.teh{
position: absolute;
width: 88px;
height: 18px;
left: 582px;
top: 59px;

font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;

/* main green */

color: #178A00;}
.po{
position: absolute;
width: 126px;
height: 18px;
left: 907.62px;
top: 59px;

font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;

/* dark grey */

color: #6F6F6F;}
.letter {
position: absolute;
width: 114px;
height: 18px;
left: 1098.38px;
top: 59px;

font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;

/* dark grey */

color: #6F6F6F;}
.border{
position: absolute;
width: 233px;
height: 32px;
left: 1249px;
top: 52px;

border: 1px solid #B6B6B6;
box-sizing: border-box;
border-radius: 45px;
}
.poisk{position: absolute;
width: 140px;
height: 18px;
left: 1266px;
top: 59px;

font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;

color: #6F6F6F;

border-radius: 5px;
}
.rus{position: absolute;
left: 1515px;

top: 59px;


/* button text 1920/1366 */

font-family: PT Sans Caption;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 18px;

/* main orange */

color: #F76201;}
.logorus{position: absolute;
left: 1546px;

top: 62px;

/* main orange */

}
.arserv{
position: absolute;
width: 135px;
height: 21px;
left: 668px;
top: 145px;

font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 21px;
/* identical to box height */


/* main text color */

color: #333333;}
.header_logo-pic{position: absolute;
width: 71.15px;
height: 46px;
left: 359px;
top: 114px;}
.baza{position: absolute;
width: 120px;
height: 21px;
left: 950px;
top: 145px;

font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 21px;
/* identical to box height */


color: #333333;}
.nomerok{position: absolute;
width: 140px;
height: 21px;
left: 1112px;
top: 145px;

font-family: PT Sans Caption;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 21px;
/* identical to box height */


/* dark grey */

color: #6F6F6F;}
.vhod{position: absolute;
width: 35px;
height: 18px;
left: 1316px;
top: 147px;

/* button text 360/768 */

font-family: PT Sans Caption;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 18px;

/* main orange */

color: #F76201;}
.registration{position: absolute;
width: 176px;
height: 48px;
left: 1384px;
top: 132px;}
.logovhod{position: absolute;
width: 18px;
height: 18px;
left: 1289px;
top: 147px;}
.exit{position: absolute;
width: 6px;
height: 6px;
left: 1546.6px;
top: 18px;}



/* Middle
-----------------------------------------------------------------------------*/
.content {
	
}
.tarifs{position: absolute;
width: 54px;
height: 21px;
left: 474px;
top: 145px;

font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 21px;
/* identical to box height */

text-transform: capitalize;

/* main text color */

color: #333333;
}
.resolv{position: absolute;
width: 62px;
height: 21px;
left: 568px;
top: 145px;

font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 21px;
/* identical to box height */



/* main text color */

color: #333333;}
.glav{position: absolute;
width: 472px;
height: 112px;
left: 359px;
top: 308px;

font-family: PT Sans Caption;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 56px;
/* or 140% */


/* main text color */

color: #333333;}
.podskazka{
position: absolute;
width: 522px;
height: 42px;
left: 359px;
top: 435px;

font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 21px;

/* middle grey */

color: #999999;
}
.imgongl{
position: absolute;
width: 703px;
height: 487px;
left: 968px;
top: 300px;

background: url(main image.png);}
.qwert{position: absolute;
width: 266px;
height: 26px;
left: 391px;
top: 524px;

font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 26px;
/* identical to box height */


/* main text color */

color: #333333;}
.uslov{position: absolute;
width: 328px;
height: 26px;
left: 391px;
top: 559px;

font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 26px;
/* identical to box height */


/* main text color */

color: #333333;}
.cit{position: absolute;
width: 776px;
height: 41px;
left: 360px;
top: 918px;

/* H2 1920(32pt) */

font-family: PT Sans Caption;
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 41px;

/* main text color */

color: #333333;}
.ty{position: absolute;
width: 369px;
height: 78px;
left: 360px;
top: 1089px;

font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;
/* or 162% */


/* middle grey */

color: #999999;}
.etotr{position: absolute;
width: 213px;
height: 26px;
left: 391px;
top: 594px;

font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 26px;
/* identical to box height */


/* main text color */

color: #333333;}
.opu{position: absolute;
width: 373px;
height: 26px;
left: 391px;
top: 629px;

font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 26px;
/* identical to box height */


/* main text color */

color: #333333;}
.bord{position: absolute;
width: 319px;
height: 48px;
left: 360px;
top: 725px;}
.vbord{position: absolute;
left: 21.2%;
right: 66.88%;
top: 8.67%;
bottom: 91.11%;

/* button text 1920/1366 */

font-family: PT Sans Caption;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 18px;

color: #FFFFFFF;}
.tgb{position: absolute;
width: 180px;
height: 15px;
left: 723px;
top: 739px;}
.obl{position: absolute;
width: 384px;
height: 774px;
left: 768px;
top: 1029px;}
.dostup{position: absolute;
width: 90px;
height: 20px;
left: 391px;
top: 1209px;

font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
/* identical to box height, or 125% */


/* main text color */

color: #333333;
}
.rect{position: absolute;
left: 768px;

top: 1029px;

}
.box{position: absolute;
width: 251px;
height: 713px;
left: 1243px;
top: 1067px;}
.boxrec{position: absolute;
width: 384px;
height: 774px;
left: 1243px;
top: 1029px;
right: 360px;
background: #FFFFFF;
box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
border-radius: 8px 8px 10px 10px;
}
.orangepoloska{
position: absolute;
width: 384px;
height: 8px;
left: 1300px;
top: 1029px;

/* main orange */

background: #F76201;
border-radius: 10px 10px 0px 0px;}
.polosoka{position: absolute;
width: 775px;
height: 0px;
left: 360px;
top: 1190px;

border: 1px solid #E4E4E4;}
.polosoka2{
position: absolute;
width: 775px;
height: 0px;
left: 360px;
top: 1505px;

border: 1px solid #E4E4E4;

}
.polosoka3{
position: absolute;
width: 775px;
height: 0px;
left: 360px;
top: 1243px;

border: 1px solid #E4E4E4;

}
.polosoka4{
position: absolute;
width: 775px;
height: 0px;
left: 360px;
top: 1296px;

border: 1px solid #E4E4E4;

}
.polosoka5{
position: absolute;
width: 775px;
height: 0px;
left: 360px;
top: 1348px;

border: 1px solid #E4E4E4;

}
.polosoka6{
position: absolute;
width: 775px;
height: 0px;
left: 360px;
top: 1401px;

border: 1px solid #E4E4E4;

}
.polosoka7{
position: absolute;
width: 775px;
height: 0px;
left: 360px;
top: 1453px;

border: 1px solid #E4E4E4;

}
.polosoka8{
position: absolute;
width: 775px;
height: 0px;
left: 360px;
top: 1558px;

border: 1px solid #E4E4E4;

}
.polosoka9{
position: absolute;
width: 775px;
height: 0px;
left: 360px;
top: 1610px;

border: 1px solid #E4E4E4;

}.polosoka1{
position: absolute;
width: 775px;
height: 0px;
left: 360px;
top: 1663px;

border: 1px solid #E4E4E4;

}
.dostup{position: absolute;
width: 100px;
height: 20px;
left: 391px;
top: 1209px;

font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 20px;
/* identical to box height, or 125% */


/* main text color */

color: #333333;}
.user{position: absolute;
width: 350px;
height: 20px;
left: 390px;
top: 1260px;

font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 20px;
/* identical to box height, or 125% */


/* main text color */

color: #333333;
}
.kol{position: absolute;
width: 270px;
height: 20px;
left: 390px;
top: 1314px;

font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 20px;
/* identical to box height, or 125% */


/* main text color */

color: #333333;}
.texpod{position: absolute;
width: 270px;
height: 20px;
left: 391px;
top: 1365px;

font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 20px;
/* identic8l to box height, or 125% */


/* main text color */

color: #333333;}
.auto{position: absolute;
width: 300px;
height: 20px;
left: 391px;
top: 1418px;

font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 20px;
/* identical to box height, or 125% */


/* main text color */

color: #333333;}
.kons{position: absolute;
width: 170px;
height: 20px;
left: 390px;
top: 1470px;

font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 20px;
/* identical to box height, or 125% */


/* main text color */

color: #333333;}
.fin{
position: absolute;
width: 400px;
height: 20px;
left: 389px;
top: 1521px;

font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 20px;
/* identical to box height, or 125% */


/* main text color */

color: #333333;}
.dogits{position: absolute;
width: 130px;
height: 20px;
left: 390px;
top: 1572px;

font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 20px;
/* identical to box height, or 125% */


/* main text color */

color: #333333;}
.evry{position: absolute;
width: 300px;
height: 20px;
left: 390px;
top: 1625px;

font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 20px;
/* identical to box height, or 125% */


/* main text color */

color: #333333;
}
.price{position: absolute;
width: 100px;
height: 20px;
left: 391px;
top: 1679px;

font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 20px;
/* identical to box height, or 125% */


/* main text color */

color: #333333;}
.poprob{position: absolute;
width: 407px;
height: 41px;
left: 358px;
top: 1897px;

/* H2 1920(32pt) */

font-family: PT Sans Caption;
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 41px;

/* main text color */

color: #333333;}
.zap1{position: absolute;
left: 360px;
width: 384px;
top: 2006px;
height: 64px;

/* input border color */

border: 1px solid #B6B6B6;
box-sizing: border-box;
border-radius: 5px;}
.name{position: absolute;
left: 390px;
right: 76.12%;
top: 2023px;
bottom: 75.97%;

font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 29px;
/* identical to box height, or 181% */

letter-spacing: 0.02em;

/* dark grey */

color: #6F6F6F;}
.zap2{position: absolute;
width: 384px;
height: 64px;
left: 768px;
top: 2006px;

/* input border color */

border: 1px solid #B6B6B6;
box-sizing: border-box;
border-radius: 5px;}
.ru{position: absolute;
width: 41.76px;
height: 29px;
left: 793.97px;
top: 2024px;

font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 29px;
/* identical to box height, or 181% */

letter-spacing: 0.02em;

/* dark grey */

color: #6F6F6F;
}
.number{position: absolute;
width: 41.76px;
height: 29px;
left: 868.54px;
top: 2024px;

font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 29px;
/* identical to box height, or 181% */

letter-spacing: 0.02em;

/* dark grey */

color: #6F6F6F;}
.zap3{position: absolute;
width: 384px;
height: 64px;
left: 1176px;
top: 2006px;

/* input border color */

border: 1px solid #B6B6B6;
box-sizing: border-box;
border-radius: 5px;}
.email{position: absolute;
width: 66.45px;
height: 29px;
left: 1203.96px;
top: 2024px;

font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 29px;
/* identical to box height, or 181% */

letter-spacing: 0.02em;

/* dark grey */

color: #6F6F6F;
}
.pole{position: absolute;
width: 237px;
height: 29px;
left: 360px;
top: 2070px;

font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 29px;
/* identical to box height, or 207% */

letter-spacing: 0.02em;

/* dark grey */

color: #6F6F6F;
}
.bord2{position: absolute;
width: 319px;
height: 48px;
left: 359px;
top: 2132px;
}
.prireg{position: absolute;
width: 317px;
height: 29px;
left: 710px;
top: 2142px;

font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 29px;
/* identical to box height, or 207% */

text-align: center;
letter-spacing: 0.02em;

color: #6F6F6F;
}
.bezop{position: absolute;
width: 711px;
height: 41px;
left: 361px;
top: 2307px;

font-family: PT Sans Caption;
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 41px;

/* main text color */

color: #333333;}
.safety{position: absolute;
width: 454px;
height: 410px;
left: 383px;
top: 2352px;

background: url(safety illustration.png);}
.uslov1{position: absolute;
width: 512px;
height: 96px;
left: 1022px;
top: 2443px;

font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 32px;
/* or 160% */


/* main text color */

color: #333333;}
.usl2{position: absolute;
width: 542px;
height: 64px;
left: 1022px;
top: 2575px;

font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 32px;
/* or 160% */


/* main text color */

color: #333333;}
.usl3{position: absolute;
width: 496px;
height: 64px;
left: 1021px;
top: 2679px;

font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 32px;
/* or 160% */


/* main text color */

color: #333333;}
.gal{position: absolute;
left: 975px;

top: 2454px;


/* main orange */

}
.gal2{position: absolute;
left: 975px;

top: 2583px;


/* main orange */

}
.gal3{position: absolute;
left: 975px;

top: 2688px;


/* main orange */
}
.partneram{position: absolute;
width: 77px;
height: 21px;
left: 830px;
top: 145px;

font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 21px;
/* identical to box height */


color: #333333;}
.zagtar{position: absolute;
width: 241px;
height: 41px;
left: 359px;
top: 2886px;

/* H2 1920(32pt) */

font-family: PT Sans Caption;
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 41px;

color: #333333;
}
.tar1{position: absolute;
width: 193px;
height: 48px;
left: 531px;
top: 2980px;}
.tar2{position: absolute;
width: 196px;
height: 48px;
left: 748px;
top: 2980px;}
.tar3{position: absolute;
width: 196px;
height: 48px;
left: 968px;
top: 2980px;
}
.tar4{position: absolute;
width: 194px;
height: 48px;
left: 1188px;
top: 2980px;
}
.optimal{position: absolute;
width: 588px;
height: 993px;
left: 360px;
top: 3080px;

background: #FFFFFF;
box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
border-radius: 8px 8px 10px 10px;}
.lite1{position: absolute;
width: 588px;
height: 993px;
left: 972px;
top: 3080px;

background: #FFFFFF;
box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
border-radius: 8px;}
.optgreen{position: absolute;
width: 588px;
height: 8px;
left: 360px;

top: 3080px;

/* main green */

background: #178A00;
border-radius: 10px;}
.opttext{position: absolute;
width: 252.07px;
height: 26px;
left: 439.36px;
top: 3140px;

/* H3 1920(20pt) */

font-family: PT Sans Caption;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 26px;
/* identical to box height */


color: #333333;}
.optprice{position: absolute;
width: 188px;
height: 62px;
left: 437px;
top: 3180px;

font-family: PT Sans Caption;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 62px;

/* main green */

color: #178A00;}
.za1user{position: absolute;
width: 150px;
height: 44px;
left: 439px;
top: 3234px;

font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 44px;
/* identical to box height, or 275% */


/* middle grey */

color: #999999;}
.sale{position: absolute;
width: 128px;
height: 41px;
left: 641px;
top: 3197px;

font-family: PT Sans Caption;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 41px;

/* middle grey */

color: #999999;}
.sale1{position: absolute;
width: 125px;
height: 0px;
left: 630px;
top: 3217px;

/* middle grey */

border: 1px solid #999999;}
.pol1{position: absolute;
width: 588px;
height: 0px;
left: 360px;
top: 3313px;

border: 1px solid #E4E4E4;
}
.pol2{position: absolute;
width: 588px;
height: 0px;
left: 360px;
top: 3374px;

border: 1px solid #E4E4E4;
}
.plus{position: absolute;
width: 459.94px;
height: 32px;
left: 439px;
top: 3326px;

/* text style 1920(20pt) */

font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 32px;
/* identical to box height, or 160% */


color: #000000;
}
.dostupv1c{position: absolute;
width: 223.95px;
height: 29px;
left: 439px;
top: 3403px;

font-family: PT Sans Caption;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 29px;
/* identical to box height, or 145% */


/* main green */

color: #178A00;}
.pluses{position: absolute;
width: 262.11px;
height: 132px;
left: 487.21px;
top: 3443px;

font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 44px;
/* or 220% */


color: #000000;}
.gal5{position: absolute;
left: 441px;
top: 3458px;
}
.gal6{position: absolute;
left: 441px;
top: 3503px;
}
.gal7{position: absolute;
left: 441px;
top: 3547px;
}
.vec{position: absolute;
width: 588px;
height: 0px;
left: 360px;
top: 3600px;

border: 1px solid #E4E4E4;}
.konf{position: absolute;
width: 185.79px;
height: 29px;
left: 440px;
top: 3628px;

font-family: PT Sans Caption;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 29px;
/* identical to box height, or 145% */


/* main green */

color: #178A00;}
.konfig{position: absolute;
width: 356px;
height: 263px;
left: 484px;
top: 3669px;

font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 44px;
/* or 220% */


/* main text color */

color: #333333;}
.gal8{position: absolute;
left: 441px;

top: 3685px;


/* main green */

}
.gal9{position: absolute;
left: 441px;

top: 3728px;


/* main green */

}
.gal10{position: absolute;
left: 441px;

top: 3815px;


/* main green */

}
.gal11{position: absolute;
left: 441px;

top: 3858px;


/* main green */

}
.pok{position: absolute;
width: 115px;
height: 18px;
left: 440px;
top: 3903px;

font-family: PT Sans Caption;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 18px;

/* main green */

color: #178A00;
}
.pok4{position: absolute;
left:550px ;

top: 3909.76px;


/* main green */

}
.pok5{position: absolute;
width: 319px;
height: 48px;
left: 437px;
top: 3967px;}
.literec{position: absolute;
width: 588px;
height: 8px;
left: 972px;

top: 3080px;


/* main orange */

background: #F76201;
border-radius: 10px;}
.litetar{position: absolute;
width: 116px;
height: 26px;
left: 1047px;
top: 3140px;

/* H3 1920(20pt) */

font-family: PT Sans Caption;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 26px;
/* identical to box height */


color: #333333;
}
.pricelite{position: absolute;
width: 147px;
height: 62px;
left: 1047px;
top: 3180px;

font-family: PT Sans Caption;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 62px;

/* main orange */

color: #F76201;}
.sale2{position: absolute;
width: 86px;
height: 41px;
left: 1216px;
top: 3195px;

font-family: PT Sans Caption;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 41px;

/* middle grey */

color: #999999;}
.sale3{position: absolute;
width: 97px;
height: 0px;
left: 1200px;
top: 3214px;

/* middle grey */

border: 1px solid #999999;}
.za1user1{position: absolute;
width: 150px;
height: 44px;
left: 1049px;
top: 3234px;

font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 44px;
/* identical to box height, or 275% */


/* middle grey */

color: #999999;}
.pol3{position: absolute;
width: 588px;
height: 0px;
left: 972px;
top: 3313px;

border: 1px solid #E4E4E4;
}
.pol4{position: absolute;
width: 588px;
height: 0px;
left: 972px;
top: 3374px;

border: 1px solid #E4E4E4;
}
.minus{position: absolute;
width: 458px;
height: 32px;
left: 1050px;
top: 3326px;

/* text style 1920(20pt) */

font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 32px;
/* identical to box height, or 160% */


color: #000000;
}
.litedostup{position: absolute;
width: 186px;
height: 29px;
left: 1048px;
top: 3404px;

font-family: PT Sans Caption;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 29px;
/* identical to box height, or 145% */

text-align: center;

/* main orange */

color: #F76201;
}
.litedostup1{position: absolute;
width: 218px;
height: 132px;
left: 1094px;
top: 3444px;

font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 44px;
/* or 220% */


color: #000000;
}
.litevec{position: absolute;
left: 1055px;
top: 3458px;
}
.litevec2{position: absolute;
left: 1055px;
top: 3503px;
}
.litevec3{position: absolute;
left: 1055px;
top: 3554px;
}
.pol5{position: absolute;
width: 588px;
height: 0px;
left: 972px;
top: 3600px;

border: 1px solid #E4E4E4;
}
.liteconf{position: absolute;
width: 155px;
height: 29px;
left: 1049px;
top: 3628px;

font-family: PT Sans Caption;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 29px;
/* identical to box height, or 145% */

text-align: center;

/* main orange */

color: #F76201;
}
.litekonfig{position: absolute;
width: 356px;
height: 220px;
left: 1091px;
top: 3670px;

font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 44px;
/* or 220% */


color: #000000;}
.poklite{position: absolute;
width: 115px;
height: 18px;
left: 1050px;
top: 3903px;

font-family: PT Sans Caption;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 18px;

/* main orange */

color: #F76201;}
.litevec4{position: absolute;
left: 1054px;
top: 3684px;
}
.litevec5{position: absolute;
left: 1054px;
top: 3728px;
}
.litevec6{position: absolute;
left: 1054px;
top: 3815px;
}
.litevec7{position: absolute;
left: 1054px;
top: 3860px;
}
.liteproba{position: absolute;
width: 319px;
height: 48px;
left: 1048px;
top: 3967px;}
.pokazatlite{position: absolute;
left: 1158.22px;
top: 3909.76px;
}
.komu{position: absolute;
width: 514px;
height: 41px;
left: 358px;
top: 4195px;

/* H2 1920(32pt) */

font-family: PT Sans Caption;
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 41px;

/* main text color */

color: #333333;
}
.perechen{position: absolute;
width: 1199px;
height: 48px;
left: 360px;
top: 4288px;
}
.group227{position: absolute;
width: 585.38px;
height: 346px;
left: 972px;
top: 4402px;
}
.bux{position: absolute;
width: 580px;
height: 322px;
left: 358px;
top: 4416px;
}
.integr{position: absolute;
width: 620px;
height: 41px;
left: 360px;
top: 4877px;

/* H2 1920(32pt) */

font-family: PT Sans Caption;
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 41px;

/* main text color */

color: #333333;
}
.group284{position: absolute;
width: 56px;
height: 56px;
left: 360px;
top: 5014px;}
.klient{position: absolute;
width: 146px;
height: 56px;
left: 451px;
top: 5013px;

font-family: PT Sans Caption;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 28px;
/* or 140% */


color: #333333;}
.kl1{position: absolute;
width: 359px;
height: 72px;
left: 360px;
top: 5093px;

/* text style 1920(16pt) */

font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
/* or 150% */


/* main text color */

color: #333333;}
.group258{position: absolute;
width: 56px;
height: 56px;
left: 769px;
top: 5014px;}
.obmen{position: absolute;
width: 159px;
height: 26px;
left: 851px;
top: 5014px;

/* H3 1920(20pt) */

font-family: PT Sans Caption;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 26px;
/* identical to box height */


color: #333333;
}
.obmen1{position: absolute;
width: 322px;
height: 72px;
left: 769px;
top: 5093px;

/* text style 1920(16pt) */

font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
/* or 150% */


/* main text color */

color: #333333;}
.group255{position: absolute;
width: 56px;
height: 56px;
left: 1182px;
top: 5014px;
}
.torg{position: absolute;
width: 145px;
height: 56px;
left: 1267px;
top: 5015px;

font-family: PT Sans Caption;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 28px;
/* or 140% */


color: #333333;

}
.torg1{position: absolute;
width: 355px;
height: 72px;
left: 1181px;
top: 5093px;

/* text style 1920(16pt) */

font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
/* or 150% */


/* main text color */

color: #333333;}
.podr1{position: absolute;
width: 79px;
height: 18px;
left: 360px;
top: 5195px;

font-family: PT Sans Caption;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 18px;
text-decoration-line: underline;

/* main orange */

color: #F76201;}
.podr2{position: absolute;
width: 79px;
height: 18px;
left: 772px;
top: 5195px;

font-family: PT Sans Caption;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 18px;
text-decoration-line: underline;

/* main orange */

color: #F76201;}
.podr3{position: absolute;
width: 79px;
height: 18px;
left: 1182px;
top: 5195px;

font-family: PT Sans Caption;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 18px;
text-decoration-line: underline;

/* main orange */

color: #F76201;}
.mobileapp{position: absolute;
width: 367px;
height: 56px;
left: 442px;
top: 5314px;

font-family: PT Sans Caption;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 28px;
/* or 140% */


color: #333333;
}
.group259{position: absolute;
width: 56px;
height: 56px;
left: 360px;
top: 5312px;
}
.mobapp{position: absolute;
width: 321px;
height: 72px;
left: 360px;
top: 5389px;

/* text style 1920(16pt) */

font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
/* or 150% */


/* main text color */

color: #333333;
}
.egais{position: absolute;
width: 59px;
height: 26px;
left: 864px;
top: 5325px;

/* H3 1920(20pt) */

font-family: PT Sans Caption;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 26px;
/* identical to box height */


color: #333333;

}
.group256{position: absolute;
width: 56px;
height: 56px;
left: 773px;
top: 5312px;}
.egaistext{position: absolute;
width: 337px;
height: 72px;
left: 769px;
top: 5390px;

/* text style 1920(16pt) */

font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
/* or 150% */


/* main text color */

color: #333333;}
.fgis{position: absolute;
width: 160px;
height: 26px;
left: 1267px;
top: 5314px;

/* H3 1920(20pt) */

font-family: PT Sans Caption;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 26px;
/* identical to box height */


color: #333333;
}
.group260{position: absolute;
width: 56px;
height: 56px;
left: 1182px;
top: 5312px;
}
.fgistext{position: absolute;
width: 342px;
height: 72px;
left: 1182px;
top: 5389px;

/* text style 1920(16pt) */

font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
/* or 150% */


/* main text color */

color: #333333;}
.podr4{position: absolute;
width: 79px;
height: 18px;
left: 360px;
top: 5489px;

font-family: PT Sans Caption;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 18px;
text-decoration-line: underline;

/* main orange */

color: #F76201;}
.podr5{position: absolute;
width: 79px;
height: 18px;
left: 773px;
top: 5489px;

font-family: PT Sans Caption;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 18px;
text-decoration-line: underline;

/* main orange */

color: #F76201;
}
.podr6{position: absolute;
width: 79px;
height: 18px;
left: 1182px;
top: 5489px;

font-family: PT Sans Caption;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 18px;
text-decoration-line: underline;

/* main orange */

color: #F76201;
}
.start{position: absolute;
width: 442px;
height: 41px;
left: 358px;
top: 5654px;

/* H2 1920(32pt) */

font-family: PT Sans Caption;
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 41px;

/* main text color */

color: #333333;
}
.shtrix{position: absolute;
width: 1920px;
height: 0px;
left: 0px;
top: 5816px;

/* input border color */

border: 1px dashed #B6B6B6;}
.group129{position: absolute;
width: 138px;
height: 194px;
left: 725px;
top: 5796px;}
.group130{position: absolute;
width: 126px;
height: 193px;
left: 1085px;
top: 5798px;
}
.group131{position: absolute;
width: 131px;
height: 194px;
left: 1432px;
top: 5797px;
}
.group262{position: absolute;
width: 46.52px;
height: 76px;
left: 395.48px;
top: 5760px;
}
.punkt1{position: absolute;
width: 47px;
height: 41px;
left: 408px;
top: 5873px;

/* H2 1920(32pt) */

font-family: PT Sans Caption;
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 41px;

/* main text color */

color: #333333;}
.step1{position: absolute;
width: 166px;
height: 56px;
left: 348px;
top: 5935px;

font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 28px;
/* or 140% */

text-align: center;

/* main text color */

color: #333333;}
.step1reg{position: absolute;
width: 103px;
height: 18px;
left: 350px;
top: 5995px;

font-family: PT Sans Caption;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 18px;
text-decoration-line: underline;

/* main orange */

color: #F76201;}
.why{position: absolute;
width: 655px;
height: 41px;
left: 356px;
top: 6196px;

/* H2 1920(32pt) */

font-family: PT Sans Caption;
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 41px;

/* main text color */

color: #333333;
}
.time{position: absolute;
width: 71px;
height: 56px;
left: 358px;
top: 6282px;

font-family: PT Sans Caption;
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 56px;
/* identical to box height, or 175% */

text-align: center;

/* main green */

color: #178A00;}
.krugl{position: absolute;
width: 353px;
height: 60px;
left: 358px;
top: 6336px;

font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 30px;
/* or 150% */


/* main text color */

color: #333333;}
.date{position: absolute;
width: 81px;
height: 56px;
left: 355px;
top: 6440px;

font-family: PT Sans Caption;
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 56px;
/* identical to box height, or 175% */

text-align: center;

/* main green */

color: #178A00;}
.date1{position: absolute;
width: 329px;
height: 60px;
left: 356px;
top: 6493px;

font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 30px;
/* or 150% */


/* main text color */

color: #333333;
}
.kolvo{position: absolute;
width: 131px;
height: 56px;
left: 690px;
top: 6283px;

font-family: PT Sans Caption;
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 56px;
/* identical to box height, or 175% */

text-align: center;

/* main green */

color: #178A00;}
.kolvo1{position: absolute;
width: 323px;
height: 60px;
left: 690px;
top: 6336px;

font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 30px;
/* or 150% */


/* main text color */

color: #333333;}
.workers{position: absolute;
width: 84px;
height: 56px;
left: 688px;
top: 6440px;

font-family: PT Sans Caption;
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 56px;
/* identical to box height, or 175% */

text-align: center;

/* main green */

color: #178A00;
}
.workers1{position: absolute;
width: 329px;
height: 60px;
left: 691px;
top: 6493px;

font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 30px;
/* or 150% */


/* main text color */

color: #333333;}
.privill{position: absolute;
width: 557.38px;
height: 366px;
left: 1014.56px;
top: 6232px;
}
.moreaboutus{position: absolute;
width: 192px;
height: 21px;
left: 358px;
top: 6584px;

font-family: PT Sans Caption;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 18px;
text-decoration-line: underline;

/* main orange */

color: #F76201;}
.alloc{position: absolute;
width: 588px;
height: 395px;
left: 360px;
top: 6723px;

background: #FFFFFF;
box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
border-radius: 10px;}
.natkrug{position: absolute;
width: 588px;
height: 395px;
left: 972px;
top: 6723px;

background: #FFFFFF;
box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
border-radius: 10px;}
.alloc1{position: absolute;
width: 224.67px;
height: 30.83px;
left: 427px;
top: 6771px;

/* H3 1920(20pt) */

font-family: PT Sans Caption;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 26px;

/* main text color */

color: #333333;}
.natkrug1{position: absolute;
width: 200px;
height: 30.83px;
left: 1039px;
top: 6771.69px;

font-family: PT Sans Caption;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 26px;

color: #000000;
}
.topgun{position: absolute;
width: 97.16px;
height: 47.73px;
left: 427px;
top: 6803px;

font-family: PT Sans Caption;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 48px;
/* identical to box height, or 240% */

text-transform: uppercase;

/* middle grey */

color: #999999;}
.ne4nad{position: absolute;
width: 189px;
height: 47.73px;
left: 1039px;
top: 6803px;

font-family: PT Sans Caption;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 48px;
/* identical to box height, or 240% */

text-transform: uppercase;

/* middle grey */

color: #999999;}
.alloc2{position: absolute;
width: 462px;
height: 161px;
left: 427px;
top: 6875px;

font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
/* or 150% */


/* main text color */

color: #333333;}
.natkrug2{position: absolute;
width: 449px;
height: 161px;
left: 1039px;
top: 6875px;

font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
/* or 150% */


/* main text color */

color: #333333;
}
.allocimg {position: absolute;
width: 80px;
height: 80px;
left: 798px;
top: 6768.72px;}
.natkrugimg{position: absolute;
width: 80px;
height: 80px;
left: 1415px;
top: 6769px;
}
.smvid1{position: absolute;
width: 224px;
height: 48px;
left: 423px;
top: 7025px;}
.smvid2{position: absolute;
width: 224px;
height: 48px;
left: 1039px;
top: 7025px;
}
.allotz{position: absolute;
width: 93px;
height: 20.88px;
left: 437px;
top: 7155px;

font-family: PT Sans Caption;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 18px;
text-decoration-line: underline;

/* main orange */

color: #F76201;}
.start2{position: absolute;
width: 635px;
height: 41px;
left: 358px;
top: 7278px;

/* H2 1920(32pt) */

font-family: PT Sans Caption;
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 41px;

/* main text color */

color: #333333;}
.name2{position: absolute;
width: 384px;
height: 64px;
left: 360px;

top: 7387px;


/* input border color */

border: 1px solid #B6B6B6;
box-sizing: border-box;
border-radius: 5px;}
.yournum{position: absolute;
width: 384px;
height: 64px;
left: 768px;
top: 7387px;

border: 1px solid #B6B6B6;
box-sizing: border-box;
border-radius: 5px;}
.mail2{position: absolute;
width: 384px;
height: 64px;
left: 1176px;
top: 7387px;

border: 1px solid #B6B6B6;
box-sizing: border-box;
border-radius: 5px;}
.name3{position: absolute;
left: 387.89px;
width: 70.66px;
height: 29px;
top: 7405px;


font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 29px;
/* identical to box height, or 161% */

letter-spacing: 0.02em;

/* dark grey */

color: #6F6F6F;}
.ru2{position: absolute;
width: 41.76px;
height: 29px;
left: 793.97px;
top: 7405px;

font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 29px;
/* identical to box height, or 161% */

letter-spacing: 0.02em;

color: #6F6F6F;}
.yournumb2{position: absolute;
width: 41.76px;
height: 29px;
left: 868.54px;
top: 7405px;

font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 29px;
/* identical to box height, or 161% */

letter-spacing: 0.02em;

color: #6F6F6F;}
.mail3{position: absolute;
width: 66.45px;
height: 29px;
left: 1203.96px;
top: 7405px;

font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 29px;
/* identical to box height, or 161% */

letter-spacing: 0.02em;

/* dark grey */

color: #6F6F6F;}
.offcourse{position: absolute;
width: 237px;
height: 29px;
left: 360px;
top: 7451px;

font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 29px;
/* identical to box height, or 207% */

letter-spacing: 0.02em;

/* dark grey */

color: #6F6F6F;}
.but2{position: absolute;
width: 319px;
height: 48px;
left: 359px;
top: 7513px;
}
.prireg2{position: absolute;
width: 317px;
height: 29px;
left: 708px;
top: 7523px;

font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 29px;
/* identical to box height, or 207% */

text-align: center;
letter-spacing: 0.02em;

color: #6F6F6F;}
.razd{position: absolute;
width: 1200px;
height: 0px;
left: 360px;
top: 7680px;

border: 1px solid #C0C0C0;}
.tipresolv{position: absolute;
width: 250px;
height: 20px;
left: 361px;
top: 7744px;

font-family: PT Sans;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 32px;
/* or 200% */


color: #333333;
}
.tip1{position: absolute;
width: 250px;
height: 190px;
left: 361px;
top: 7790px;

font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 32px;
/* or 200% */


color: #333333;}
.otrresolv{position: absolute;
width: 221px;
height: 20px;
left: 744px;
top: 7744px;

font-family: PT Sans;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 32px;
/* or 200% */


color: #333333;
}
.otr1{position: absolute;
width: 221px;
height: 170px;
left: 744px;
top: 7790px;

font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 32px;
/* or 200% */


color: #333333;}
.servs{position: absolute;
width: 128px;
height: 20px;
left: 1098px;
top: 7744px;

font-family: PT Sans;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 32px;
/* or 200% */


color: #333333;}
.ser1{position: absolute;
width: 128px;
height: 170px;
left: 1098px;
top: 7790px;

font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 32px;
/* or 200% */


color: #333333;}
.dopvozm{position: absolute;
width: 168px;
height: 20px;
left: 1392px;
top: 7744px;

font-family: PT Sans;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 32px;
/* or 200% */


color: #333333;
}
.dop1{position: absolute;
width: 168px;
height: 170px;
left: 1392px;
top: 7790px;

font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 32px;
/* or 200% */


color: #333333;}
.seemore1{position: absolute;
width: 139px;
height: 16px;
left: 358px;
top: 7956px;

font-family: PT Sans Caption;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 16px;
/* identical to box height, or 100% */


color: #FF6500;}
.seemore2{position: absolute;
width: 139px;
height: 16px;
left: 744px;
top: 7956px;

font-family: PT Sans Caption;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 16px;
/* identical to box height, or 100% */


color: #FF6500;}
.seemore3{position: absolute;
width: 139px;
height: 16px;
left: 1394px;
top: 7956px;

font-family: PT Sans Caption;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 16px;
/* identical to box height, or 100% */


color: #FF6500;}
.adress{position: absolute;
width: 502px;
height: 48px;
left: 475px;

top: 8092px;


font-family: PT Sans Caption;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;
/* or 143% */


color: #333333;}
.scnum{position: absolute;
width: 368px;
height: 45px;
left: 476px;

top: 8055px;


font-family: PT Sans Caption;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 26px;

color: #333333;
}
.group191{position: absolute;
width: 78.88px;
height: 51px;
left: 361px;
top: 8053px;
}
.inst{position: absolute;
width: 52px;
height: 52px;
left: 876px;
top: 8074px;}
.fb{position: absolute;
width: 52px;
height: 52px;
left: 938.76px;
top: 8074px;
}
.vk{position: absolute;
width: 52px;
height: 52px;
left: 1001.52px;
top: 8074px;
}
.ok{position: absolute;
width: 52px;
height: 52px;
left: 1063px;
top: 8074px;}
.youtub{position: absolute;
width: 52px;
height: 52px;
left: 1124.28px;
top: 8074px;}
.appst{position: absolute;
width: 158.37px;
height: 52.79px;
left: 1218px;
top: 8075.11px;
}
.playg{position: absolute;
width: 204.89px;
height: 79.63px;
left: 1370.11px;

top: 8061.68px;

}
/*-----------------------------------------------------------------------------*/
.footer {
	position: absolute;
width: 1920px;
height: 64px;
left: 0px;
top: 8161px;

background: #F4F4F4;

}
.oferta{position: absolute;
width: 293px;
height: 18px;
left: 386px;

top: 8188px;


font-family: PT Sans Caption;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;

/* main text color */

color: #333333;}
.hesh{position: absolute;
width: 300px;
height: 31px;
left: 1172px;

top: 8188px;


font-family: PT Sans Caption;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;
text-align: right;

color: #333333;
}
